<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.ues.fia.eisi.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".LaboratorioMenuActivity"></activity>
        <activity android:name=".LaboratorioActualizarActivity" />
        <activity android:name=".LaboratorioEliminarActivity" />
        <activity android:name=".LaboratorioConsultarActivity" />
        <activity android:name=".LaboratorioInsertarActivity" />
        <activity android:name=".HorarioMenuActivity" />
        <activity android:name=".HorarioInsertarActivity" />
        <activity android:name=".HorarioConsultarActivity" />
        <activity android:name=".HorarioActualizarActivity" />
        <activity android:name=".HorarioEliminarActivity" />
        <activity android:name=".PropuestaMenuActivity" />
        <activity android:name=".PropuestaInsertarActivity" />
        <activity android:name=".PropuestaEliminarActivity" />
        <activity android:name=".PropuestaConsultarActivity" />
        <activity android:name=".PropuestaActualizarActivity" />
        <activity android:name=".EncargadoMenuActivity" />
        <activity android:name=".EncargadoInsertarActivity" />
        <activity android:name=".EncargadoEliminarActivity" />
        <activity android:name=".EncargadoConsultarActivity" />
        <activity android:name=".EncargadoActualizarActivity" />
        <activity android:name=".SalonMenuActivity" />
        <activity android:name=".SalonInsertarActivity" />
        <activity android:name=".SalonEliminarActivity" />
        <activity android:name=".SalonActualizarActivity" />
        <activity android:name=".SalonConsultarActivity" />
        <activity android:name=".AsignacionMenuActivity" />
        <activity android:name=".AsignacionInsertarActivity" />
        <activity android:name=".AsignacionEliminarActivity" />
        <activity android:name=".AsignacionConsultarActivity" />
        <activity android:name=".AsignacionActualizarActivity" />
        <activity android:name=".CicloEliminarActivity" />
        <activity android:name=".EscuelaEliminarActivity" />
        <activity android:name=".CicloActualizarActivity" />
        <activity android:name=".EscuelaActualizarActivity" />
        <activity android:name=".CicloConsultarActivity" />
        <activity android:name=".EscuelaConsultarActivity" />
        <activity android:name=".CicloInsertarActivity" />
        <activity android:name=".EscuelaInsertarActivity" />
        <activity android:name=".MateriaMenuActivity" />
        <activity android:name=".CicloMenuActivity" />
        <activity android:name=".EscuelaMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>